<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>📝 Register</h1>
    <form action="/register" method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Register</button>
        <a href="/" style="text-decoration: none;">
    <button type="button">⬅ Go Back</button>
    </a>
    </form>
</body>
</html>